{% extends "base.html" %}

{% block content %}
<h1>Добавление питомца</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
     <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
      <p>
        {{ form.type.label }}<br>
        {{ form.type(class="form-control") }}<br>
        {% for error in form.type.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
      <p>
        {{ form.breed.label }}<br>
        {{ form.breed(class="form-control") }}<br>
        {% for error in form.breed.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
      <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control", type="number") }}<br>
        {% for error in form.age.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
      <p>
        {{ form.collaborators.label }}<br>
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
     <p>
        {{ form.is_finished.label }}<br>
        {{ form.is_finished(class="form-control", type="checkbox") }}<br>
        {% for error in form.is_finished.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}